/* how to make stuff stack learned here*/
/* https://www.w3schools.com/howto/howto_css_button_group_vertical.asp */
button {
    color: white;
    background-color: green;
    display:block;
}

#basic-react-demo {
    float: left;
    padding-right: 100px;
}

#backend-connection {
    float: left
}

/*copied from https://www.w3schools.com/howto/howto_css_stacked_form.asp*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }